.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipes .card {
  text-align: center;
  width: 350px;
  margin: 8px;
  border: 2px solid #000080;
  background-color: #ffffff90;
  padding: 15px;
}

.recipes {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4b6cb7, #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4b6cb7, #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 25px 10px;
}

.recipes h1 {
  text-align: center;
  color: #87aa2f;
}

