.lander {
    background-image: url('../assets/img/Fruits.jpeg');
    background-size: cover;
    background-position: center;
    height: 650px;
}

.lander h1 {
    /* background-color: #a3444480; */
    text-shadow: 2px 2px #BC2C1A;
    margin-top: 200px;
}

.lander Button {
    margin: 5px;
    width: 220px;
    color: white;
    border-color: #BC2C1A;
    background-color: #7D1538;
}

.lander Button:hover {
    color: black;
    background-color: #87aa2f;
    transition: .5s;
}

@media screen and (min-width: 1645px) {
    .lander {
      height: 1000px;
    }

    .lander h1 {
        margin-top: 380px;
        font-size: 100px;
    }

    .lander Button {
        margin: 5px;
        width: 300px;
        font-size: 20px;
    }
  }