.navbar-default {
  background-color: #87aa2f;
  margin-bottom: 0;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.nav>li:active , .nav>li:visited {
  background-color: darkgreen;
}

.navbar-default .navbar-toggle {
  border: none;
  color: white;
}